html, body {
	font-family: 'VT323', monospace;	
}

body {
	width: 60%;
	margin: 0 20% 0 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: 1.2em;
}

h2 {
	font-size: 3em;
	text-align: center;
}

hr {
	width: 33%;
	text-align: center;
	margin-bottom: 10px;
}

p {
	text-align: center;
	font-weight: bold;
}

.titleItalic {
	font-style: italic;
}/* put the notice title in italic in notice management panel*/

.underlineId {
	text-decoration: underline;
}/*underlines id number in notice management panel*/


/* Formulaires*/

label {
	
	display: block;
	width: 300px;
	float: left;
}

input {
	margin-bottom: 10px;
}

button {
	margin-bottom: 15px;
	width: 100px;
}

#elecForm {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#submitButton {
	display: flex;
	justify-content: center;
}

#button {
	display: flex;
	justify-content: center;
}/*boutons gestion des notices biblio*/


/* Notice management panel */

.noticeManagementLinks {
	text-align: center;
}