/* Html + body properties */

html, body {
	margin: 0;
	padding: 0;
	font-family: 'VT323', monospace;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	position: relative;
	top: 0;
	left: 20%;
}

/*Map background*/

#mapid { 
	height: 100vh; 
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	font-family: 'VT323', monospace;
}

.leaflet-control-container {
	visibility: hidden;
}

h1 {
	font-size: 1.8em;
}

/* Page title*/

h2 {
	z-index: 1;
	text-align: center;
	font-size: 15vh;	
	color: white;
	margin: 0;
	padding: 5vh 0 5vh 0;	
}

/*Display page content */

#whiteBack {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 0;
}

p { 
	width: 95%;
	/*text-align: justify;*/
	word-wrap: break-word;
}

hr{
	width: 50%;
}

.titleItalic {
	font-style: italic;
}

/* -----MENU----- */

#blocMenu {
	position: fixed;
	width: 10%;
	top: 25%;
	left:2%;
	font-size: 3.3vw;
	font-weight: bold;
	padding-top: 0;
	
}

#ulMenu {
	list-style: none;
	padding-left: 0;
	
}

#blocMenu li:hover a {
	background-color: grey;
	color: white;
}

#blocMenu li:hover {
	background-color: grey;
	color: white;
}

ul {
	margin-left: 9%;
	padding-top: 0;
	margin-top: 0;

}

.menuLink  {
	text-decoration: none;
	color: white;
}

.menuLink:visited {
	color: white;
}

 .menuLink:hover {
	text-decoration: none;
}